*{
    padding: 0px;
    margin: 0px;
    border: 0px;
}

body{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgb(214, 191, 176);
}

#header{
    background-color: rgb(222,183,157);
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 #logo{
    width:100%;
    height: 100%;

}

#nome_site{
    color:white
}

#sub_titulo{

}


#principal{
    width: 5%;
    height: 100%;
}

.btn-expandir{

}

#bi-bi-list{
    width: 70%;
    height: 70%;
}

#header {
    text-align: center;
    margin-bottom: 20px;
}
#header a {
    margin: 0 15px;
    text-decoration: none;
    color: #000;
}
#forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px; /* Define a largura dos inputs */
    margin: 0 auto; /* Centraliza o formulário */
}
#forms input, #forms button {
    margin: 10px 0; /* Espaçamento entre os inputs e o botão */
    padding: 10px;
    width: 100%; /* Faz os inputs ocuparem toda a largura do formulário */
}