* {
    margin: 0;
    padding: 0;
    font-family: nunito;
    font-size: 100%;
    font-weight: normal;
}

button {
    width: 100%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;

}

#Cadastro {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#formCadastro {
    margin-top: 7%;
}

.laCadastro {
    font-size: 90%;
}

.inCadastro {
    display: flex;
}

#Chamada {
    max-width: 50%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

#formChamada {
    margin-top: 7%;
}

#formChamadaRadio {
    display: flex;
}

.laChamada {
    margin-top: 5%;
    font-size: 90%;
}

.inChamada {
    margin-top: 5%;
    display: flex;
}